argon2-cffi
async-generator
attrs
backcall
bleach
certifi
cffi
colorama
cycler
decorator
defusedxml
entrypoints
ipykernel
ipython
ipython-genutils 
ipywidgets 
jedi 
Jinja2 
jsonschema 
jupyter-client 
jupyter-core
jupyterlab-pygments 
kiwisolver 
MarkupSafe 
matplotlib
mistune 
nbclient 
nbconvert 
nbformat 
nest-asyncio 
notebook
numpy
packaging
pandas
pandocfilters
parso
pickleshare
Pillow
plotly
prometheus-client
prompt-toolkit
pycparser
Pygments
pyparsing
pyrsistent
python-dateutil
pytz
pywin32
pywinpty
pyzmq
retrying
scipy
seaborn
Send2Trash
six
terminado
testpath
tornado
traitlets
wcwidth
webencodings
widgetsnbextension
